page-nr-shome {
    .button-group {
        .ion-col {
          &:first-child:not(:last-child) {
            padding-right: 0;
            padding-left: 0;
            .button {
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
            }
          }
          &:not(:first-child):not(:last-child) {
            padding-right: 0;
            padding-left: 0;
            .button {
              border-radius: 0;
            }
          }
          &:last-child:not(:first-child) {
            padding-left: 0;
            .button {
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
            }
          }
        }
      
      
      }
      .b1 {
      
        
        color: #fff;
        background-color: rgb(50, 53, 219);
        background: rgba(50, 143, 219, 0.5);
      }
      .background
      {
        background-image:url('../../assets/imgs/bg.jpg'); background-repeat: no-repeat;background-size: cover 
      }

      }